.App {
  background: white;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
}

.margin {
  margin: 1rem;
}

.padding {
  padding: 1rem;
}

.header {
  color: white;
}

.main {
}

.footer {
  color: white;
}

.App-link {
  color: #61dafb;
}

.Shape {
  transform: translate3d(0,0,0);
}
