.App {
  align-items: stetch;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
}

.margin {
  margin: 1rem;
}

.padding {
  padding: 1rem;
}

.header {
  color: white;
  flex: 0;
}

.main {
  flex: 1;
}

.footer {
  color: white;
  flex: 0;
}

.App-link {
  color: #61dafb;
}
